<div class="ads card">
  <div class="card-body">
    <form [formGroup]="settingForm" novalidate>
      <div class="form-group row col-md-12">
        <label class="col-md-2">Customer ID Format</label>
        <input type="number" class="form-control col-md-2" name="customer_id" required formControlName="customer_id" />

        <label class="col-md-2">Product ID Format</label>
        <input type="number" class="form-control col-md-2" name="product_id" formControlName="product_id" required />

        <label class="col-md-2">Invoice No Format</label>
        <input type="number" class="form-control col-md-2" name="invoice_no" formControlName="invoice_no" required />
      </div>
      <div class="form-group row col-md-12">
        <label class="col-md-2">Shop Name</label>
        <input class="form-control col-md-2" name="owner_shname" formControlName="owner_shname" required />
        <label class="col-md-2">Street Name</label>
        <input class="form-control col-md-2 " name="owner_street" formControlName="owner_street" required />
        <label class="col-md-2">GSTIN NO</label>
        <input class="form-control col-md-2" name="owner_gstin" formControlName="owner_gstin" required />
      </div>
      <div class="form-group row col-md-12">
        <label class="col-md-2">Name</label>
        <input class="form-control col-md-2" name="owner_name" formControlName="owner_name" required />
        <label class="col-md-2">Mobile No</label>
        <input type="number" class="form-control col-md-2" name="owner_mobno" formControlName="owner_mobno" required />
        <label class="col-md-2">City</label>
        <input class="form-control col-md-2" name="owner_city" formControlName="owner_city" required />
      </div>
      <div class="form-group row col-md-12">
        <label class="col-md-2">Email ID</label>
        <input class="form-control col-md-2" name="owner_email" formControlName="owner_email" required />
        <div class="col-md-6">

        </div>
        <button type="submit" class="btn btn-success col-md-2" (click)="SaveSettings()">{{btnValue}}</button>
      </div>
    </form>
  </div>
</div>