<div class="prod card">
  <div class="card-body">
    <form [formGroup]="productForm" (ngSubmit)="addProduct()">
      <div class="form-group row col-sm-12">
        <label class="col-sm-2">Product Name</label>
        <input type="text" class="form-control col-sm-2" name="productname" formControlName="productname" />

        <label class="col-sm-2">HSN Code</label>
        <input type="number" class="form-control col-sm-2" name="hsn" formControlName="hsn" />

        <label class="col-sm-2">Product in Tamil</label>
        <input type="text" class="form-control col-sm-2" name="tamilname" formControlName="tamilname" #tamilname />
      </div>
      <div class="form-group row col-sm-12">
        <label class="col-sm-2">M.R.P</label>
        <input type="text" class="form-control col-sm-2" name="mrp" formControlName="mrp" />

        <label class="col-sm-2">Rate</label>
        <input type="text" class="form-control col-sm-2" name="rate" formControlName="rate" />

        <div class="col-sm-4">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-primary buttonGroup col-sm-3" style="visibility: hidden">{{btnValue}}</button>
            <button type="submit" class="btn btn-success buttonGroup col-sm-3" [disabled]="productForm.pristine || productForm.invalid">{{btnValue}}</button>
            <button type="submit" class="btn btn-danger buttonGroup col-sm-3" [disabled]="!selectedProduct" (click)="deleteProduct()">Delete</button>
            <button type="submit" class="btn btn-primary buttonGroup col-sm-3" [disabled]="!selectedProduct || productForm.pending "
              (click)="clearFields()">Clear</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div ng-if="rowData" class="productDT">
  <ag-grid-angular style="width: 90%; height: 390px;" rowSelection="single" [enableColResize]="true" (rowClicked)='onRowClicked($event)'
    [enableSorting]="true" [enableFilter]="true" class="ag-theme-blue" [rowData]="rowData | async" [columnDefs]="columnDefs">
  </ag-grid-angular>
</div>