<!--The content below is only a placeholder and can be replaced.-->
<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
<nav class="navbar navbar-expand-sm bg-light">
  <div class="row col-md-12" >
      <div class="col-md-1">
          <a routerLink="/product">Product</a>
          
      </div>
      <div class="col-md-1">
          <a routerLink="/customer">Customer</a>
      </div>
      <div class="col-md-9">
      </div>
      <div class="col-md-1">
          <a routerLink="/settings">Settings</a>
      </div>
  </div>
</nav>

<router-outlet></router-outlet>