<div class="card">
  <div class="card-body">
    <form [formGroup]="cusForm" novalidate>
      <div class="row col-md-12">

        <div class="col-md-2" align='right'>
          <label>Customer Name</label>
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" name="customer_name" formControlName="customer_name" #customer_name />
        </div>

        <div class="col-md-2" align="right">
          <label>Mobile Number</label>
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" name="customer_mobno" formControlName="customer_mobno"
            #customer_mobno />
        </div>

        <div class="col-md-2" align="right">
          <label>Buyers Code</label>
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" name="customer_buyerscode" formControlName="customer_buyerscode"
            #customer_buyerscode />
        </div>

      </div>
      <div class="row col-md-12">
        <div class="col-md-2" align='right'>
          <label>TIN No</label>
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" formControlName="customer_tinno" name="customer_tinno"
            #customer_tinno />
        </div>
        <div class="col-md-2" align='right'>
          <label>State</label>
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" formControlName="customer_state" name="customer_state"
            #customer_state />
        </div>

        <div class="col-md-2" align='right'>
          <label>Address</label>
        </div>
        <div class="form-group col-md-2">
          <input type="text" class="form-control" formControlName="customer_address" name="customer_address"
            #customer_address />
        </div>
      </div>
      <div class="row col-md-12">
        <div class="col-md-2" align='right'>
          <label>Email</label>
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" formControlName="customer_email" name="customer_email"
            #customer_email />
        </div>

        <div class="col-md-2" align='right'>
          <label>Remarks</label>
        </div>

        <div class="col-md-2">
          <input type="text" class="form-control" formControlName="customer_remarks" name="customer_remarks"
            #customer_remarks />
        </div>
       
      </div>
      <div class="row col-md-12">
        <div class="col-md-2" align='right'>
          <label>Pin Code</label>
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" formControlName="customer_pincode" name="customer_pincode"
            #customer_pincode />
        </div>
        <div class="col-md-3">
            <button (click)="addCustomer()" [disabled]="cusForm.pristine || cusForm.invalid" class="btn btn-primary">Create
              Customer</button>
          </div>
      </div>
    </form>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <td>Customer Id</td>
      <td>Customer Name</td>
      <td>Mobile No</td>
      <td>Buyers Code</td>
      <td>TIN No</td>
      <td>State</td>
      <td>Email</td>
      <td>Address</td>
      <td>Pin Code</td>
      <td>Remarks</td>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let cusUnit of CustomerUnit">
      <td>{{ cusUnit.customer_id }}</td>
      <td>{{ cusUnit.customer_name }}</td>
      <td>{{ cusUnit.customer_buyerscode }}</td>
      <td>{{ cusUnit.customer_tinno }}</td>
      <td>{{ cusUnit.customer_state }}</td>
      <td>{{ cusUnit.customer_mobno }}</td>
      <td>{{ cusUnit.customer_email }}</td>
      <td>{{ cusUnit.customer_address }}</td>
      <td>{{ cusUnit.customer_pincode }}</td>
      <td>{{ cusUnit.customer_remarks }}</td>
    </tr>
  </tbody>
</table>