<div class="card">
  <div class="card-body">
    <form [formGroup]="cusForm" >
      <div class="row col-md-12">

        <div class="col-md-2" align='right'>
          <label>Customer Name</label>
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" name="customer_name" formControlName="customer_name"  />
        </div>

        <div class="col-md-2" align="right">
          <label>Mobile Number</label>
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" name="customer_mobno" formControlName="customer_mobno"
            #customer_mobno />
        </div>

        <div class="col-md-2" align="right">
          <label>Buyers Code</label>
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" name="customer_buyerscode" formControlName="customer_buyerscode"
            #customer_buyerscode />
        </div>

      </div>
      <div class="row col-md-12">
        <div class="col-md-2" align='right'>
          <label>TIN No</label>
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" formControlName="customer_tinno" name="customer_tinno"
            #customer_tinno />
        </div>
        <div class="col-md-2" align='right'>
          <label>State</label>
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" formControlName="customer_state" name="customer_state"
            #customer_state />
        </div>

        <div class="col-md-2" align='right'>
          <label>Address</label>
        </div>
        <div class="form-group col-md-2">
          <input type="text" class="form-control" formControlName="customer_address" name="customer_address"
            #customer_address />
        </div>
      </div>
      <div class="row col-md-12">
        <div class="col-md-2" align='right'>
          <label>Email</label>
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" formControlName="customer_email" name="customer_email"
            #customer_email />
        </div>

        <div class="col-md-2" align='right'>
          <label>Remarks</label>
        </div>

        <div class="col-md-2">
          <input type="text" class="form-control" formControlName="customer_remarks" name="customer_remarks"
            #customer_remarks />
        </div>

      </div>
      <div class="row col-md-12">
        <div class="col-md-2" align='right'>
          <label>Pin Code</label>
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" formControlName="customer_pincode" name="customer_pincode"
            #customer_pincode />
        </div>
        <div class="col-md-3">
          <button (click)="addCustomer()" [disabled]="cusForm.pristine || cusForm.invalid" class="btn btn-primary">{{btnValue}}</button>
          
        </div>
        <div class="col-sm-1">
          <button  class="buttonGroup" [disabled]="!selectedCustomer" (click)="deleteCustomer()">Delete</button>
        </div>
        <div class="col-sm-1">
          <button  class="buttonGroup" [disabled]="!selectedCustomer || cusForm.pending " (click)="clearFields()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div ng-if="rowData" class="customerDT">
  <ag-grid-angular style="width: 90%; height: 390px;" rowSelection="single" [enableColResize]="true" (rowClicked)='onRowClicked($event)'
    [enableSorting]="true" [enableFilter]="true" class="ag-theme-blue" [rowData]="rowData | async" [columnDefs]="columnDefs">
  </ag-grid-angular>
</div>